@use 'global' as *;

.archive-list {
	margin-left: rem(2);
	font-size: rem(24);
	line-height: calc(29/24);
	font-weight: $regular;
	font-family: "Noto Sans JP", sans-serif;
	color: $green;
}

.archive-list__item {
	cursor: pointer;
}

.archive-list__item + .archive-list__item {
	margin-top: rem(10);
}

.archive-list__toggle {
	// cursor: pointer;
	display: inline-block;
	color: #007b7b;
}

.archive-list__year {
	cursor: pointer; // カーソルをポインターにしてクリック感
  display: flex;
  align-items: center;
  gap: rem(5);
	transition: opacity 0.3s ease;
}

.archive-list__year:hover {
	opacity: 0.7;
}

.archive-list__month {
	display: none;
	margin-left: rem(24);
	cursor: pointer;

}

.archive-list__month:first-child {
	display: block;
}

.archive-list__item-month {
	margin-top: rem(9);
}