@use 'global' as *;


.button {
	position: relative;
	display: inline-block;
	margin-right: rem(4);
	margin-bottom: rem(5);
	padding: rem(16) rem(50) rem(16) 0;
	width: rem(202);
	height: rem(55);
	font-size: rem(14);
	line-height: calc(22/14);
	font-weight: $regular;
	background-color: $green;
	color: $white;
	border: rem(1) solid $green;
	text-align: center;
	align-items: center;
	z-index: 1;
}

.button-white {
	padding: rem(16) rem(58) rem(16) 0;
	background-color: $white;
	color: $green;
	border: rem(1) solid $white;
}

.button__arrow1 {
	position: absolute;
	top: 50%;
	right: rem(40);
	height: rem(1);
  background-color: $white;
	width: rem(40);
}

.button__arrow1-white {
	background-color: $green;
}

.button__arrow2  {
	position: absolute;
	top: 45%;
	right: rem(40);
	width: rem(8);
	height: rem(1);
  transform: rotate(40deg);
  background-color: $white;
}

.button__arrow2-white {
	background-color: $green;
}

.button::before {
	content: "";
	position: absolute;
	width: rem(202);
	height: rem(54);
	top: rem(4);       /* ずらした位置 */
  left: rem(4);
  right: 0;
  bottom: 0;
  border: rem(1) solid $green;  /* 枠線の色を指定 */
  pointer-events: none;      /* ボタンの操作を妨げないようにする */
	z-index: -2;
}

.button-white::before {
	border: rem(1) solid $white;
}

.button::after {
	content: "";
	background-color: $white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scale(0, 1);		//(X,Y軸)
	transform-origin: left top;
	transition: .2s cubic-bezier(0.45, 0, 0.55, 1);  //0.2秒かけてなめらかな動き
	z-index: -1;
}

.button-white::after {
	background-color: $green;
}

.button:hover {
	color: $green;
	opacity: 1;
}

.button-white:hover {
	color: $white;
}


.button:hover::after {
	transform: scale(1, 1);  //X軸が広がる
}

.button:hover .button__arrow1,
.button:hover .button__arrow2 {
  background-color: $green;
}

.button-white:hover .button__arrow1,
.button-white:hover .button__arrow2 {
  background-color: $white;
}