@use 'global' as *;

.campaign-cards{
	// height: auto;
}

.campaign-cards__cards {
	padding-bottom: rem(10);
	scrollbar-width: none;
	-ms-overflow-style: none;
	height: 100%;
}


.campaign-cards__item {
	height: auto;
	width: 100%;
	max-width: rem(280);
	@include mq("md") {
		max-width: rem(333);
	}
}