@use 'global' as *;

.faq-page {
	position: relative;
}

.faq-page:before {
	content: "";
	position: absolute;
	z-index: -1;
	width: rem(120);
	height: rem(55);
	top: -1.2%;
	left: calc(50% - min(46vw, rem(620)));
	background-image: url(../images/common/fish-green.svg);
	background-size: cover;
	// 要素の領域に画像全体が収まるように拡大縮小される
	transform: scaleX(-1);
	//x軸に反転
	@include mq("md") {
		top: -3.3%;
		left: calc(50% - min(48vw, rem(620)));
		width: rem(301);
		height: rem(138);
	}
}

.faq-page__lists-item + .faq-page__lists-item {
	margin-top: rem(40);
}

.faq-page__lists {
	@include mq("md") {
		max-width: rem(700);
		margin-inline: auto;
	}
}