@use 'global' as *;

.faq-item {
	// font-size: rem(16);
	// line-height: calc(19/16);
	// line-height: 1.435; 
	// ピクパで調整
	// letter-spacing: 0.05em;
	// font-weight: $regular;
	// font-family: "Noto Sans JP", sans-serif;

	@include mq("md") {
		font-size: rem(20);
		line-height: calc(24/20);
	}
}

.faq-item__question {
	position: relative;
	padding: rem(16) rem(16) rem(15);

	font-size: rem(16);
	// line-height: calc(19/16);
	line-height: 1.435; 	// ピクパで調整
	font-weight: $regular;
	font-family: "Noto Sans JP", sans-serif;
	background-color: $green;
	color: $white;

	@include mq("md") {
		padding: rem(29) rem(40) rem(27);
		font-size: rem(20);
		line-height: calc(24/20);
	}
}

.faq-item__question::before,
.faq-item__question::after  {
	content: "";
	position: absolute;
	top: 50%;
	right: rem(16);
	width: rem(28);
	height: rem(1);
	background-color: $white;
	transition: 0.3s;
	
	@include mq("md") {
		right: rem(40);
		width: rem(32);
	}
}

.faq-item__question::after {
	transform: rotate(0deg);
}

.faq-item__question.is-open::after {
	transform: rotate(90deg);
}

.faq-item__answer {
	// display: none;
	padding: rem(24) rem(16);
	font-size: rem(16);
	// line-height: calc(19/16);
	line-height: 1.435; 	// ピクパで調整
	font-weight: $regular;
	font-family: "Noto Sans JP", sans-serif;
	border: rem(1) solid $green;

	@include mq("md") {
		margin-top: rem(16);
		padding: rem(39);
	}
}
