@use 'global' as *;

.loading {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

// .top-mv__title-wrap--green {
// 	color: $green;
// }
.loading-title {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
  color: $green;
	opacity: 0; /* 初期状態で透明に */
  transform: translateY(100%); /* 下に隠す */

	@include mq("md") {
		top: 50%;
  	left: 50%;
		transform: translate(-50%, -50%);
	}
}




//mv全体を覆う
.main-view {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: hidden;
	position: relative;
}

//左右に分割されたエリア
.left-side, .right-side {
	width: 50%;
	height: 100%;
	background-size: cover;
	background-position: center;

}

.loading-img {
  transform: translateY(100%); /* 下に隠す */
}

.left-side {
	background-color: skyblue;
}
.right-side {
	background-color: yellowgreen;
}

// .loader {
	// position: fixed;
	// top: 0;
	// left: 0;
	// width: 100%;
	// height: 100%;
	// background-color: green;
	// overflow: hidden;
	// display: flex;

// 	height: 100vh;
// 	overflow: hidden;
// 	position: fixed;
// 	width: 100%;
// 	z-index: 8;
// }

// .loader__container {
// 	background-color: transparent;
// 	display: flex;
// 	height: 100vh;
// 	position: relative;
// 	width: 100%;
// 	opacity: 0;
// 	overflow: hidden;
// }

// .loader__item {
// 	width: 50%;
// 	height: 100%;
// 	position: relative;
// 	// top: 100%;
// 	top: 0%;

// 	transition: transform 1s ease;
// }

// loader__item-left {
// 	height: 100%;
// 	overflow: hidden;
// 	position: relative;
// 	width: 50%;
// }


// .loader__item-left img {
// 	// width: 50%;
// 	width: 100%;
// 	height: 100%;
// 	position: absolute;
// 	top: 0;
// 	left: 0;

// 	// transform: translateY(100%);

// }

// .loader__item-right{
// 	height: 100%;
// 	overflow: hidden;
// 	position: relative;
// 	width: 50%;
// }

// .loader {
// 	position: relative;
// }

// .top-mv__title--green,
// .top-mv__text--green {
// 	color: $green;
// }

// .loader__container {
// 	position: relative;
// 	width: 100%;
// 	margin: 0;
// 	overflow: hidden;
// 	background-color: #fff;
// }

// .loader__container img {
// 	width: 100%;
// 	display: block;
// }

// .loader__item {
// 	position: absolute;
// 	top: 0;
// 	width: 50%;
// 	height: 100%;
// 	background-size: cover;
// 	background-repeat: no-repeat;
// 	opacity: 0;
// }

// .loader__item-left {
// 	left: 0;
// 	background-image: url(../images/common/top-mv1-sp.jpg);
// 	background-position: left;
// 	transform: translateY(100%);

// 	@include mq("md") {
// 		background-image: url(../images/common/top-mv1-pc.jpg);
// 	}
// }

// .loader__item-right {
// 	right: 0;
// 	background-image: url(../images/common/top-mv1-sp.jpg);
// 	background-position: right;
// 	transform: translateY(100%);

// 	@include mq("md") {
// 		background-image: url(../images/common/top-mv1-pc.jpg);
// 	}
// }
