@use 'global' as *;

.section-title {
	align-items: center;
	text-align: center;
}

.section-title-en {
	font-size: rem(32);
	line-height: calc(40/32);
	font-weight: $regular;
	color: $green2;
	@include mq("md") {
		font-size: rem(40);
		line-height: calc(40/40);
	}
}

.section-title-en::first-letter {
	color: $green;
}

.section-title-ja {
	font-size: rem(12);
	line-height: calc(18/12);
	font-weight: $regular;
	color: $green;
}