@use 'global' as *;

.single-body {
	position: relative;
}

.single-body::before {
	content: "";
	position: absolute;
	width: rem(120);
	height: rem(55);
	top: -0.55%;
	left: calc(50% - min(46vw, rem(620)));
	background-image: url(../images/common/fish-green.svg);
	background-size: cover;
	// 要素の領域に画像全体が収まるように拡大縮小される
	transform: scaleX(-1);
	//x軸に反転
	z-index: -1;

	@include mq("md") {
		width: rem(301);
		height: rem(138);
		top: -3%;
		left: calc(50% - min(48vw, rem(620)));
	}
}

.single-body__inner {
	@include mq("md") {
		display: flex;
		gap: rem(86);
	}
}

.single-body__main {
	@include mq("md") {
		// width: 65.3703%;
		width: 64.99535%;
	}
}

.single-body__date {
	font-size: rem(14);
	line-height: calc(18/14);
	font-weight: $regular;
	color: $green2;
}

.single-body__title {
	margin-top: rem(8);
	font-size: rem(24);
	line-height: calc(29/24);
	font-weight: $medium;
	color: $green2;
	font-family: "Noto Sans JP", sans-serif;
	padding-bottom: rem(6);
	border-bottom: 1px solid $green;

	@include mq("md") {
		font-size: rem(32);
		line-height: calc(38/32);
		padding-bottom: rem(2);
	}
}

.single-body__image {
	margin-top: rem(24);
	width: 100%;

	@include mq("md") {
		margin-top: rem(40);
	}
}

.single-body__image img {
	aspect-ratio: 700/468;
	object-fit: cover;
	width: 100%;
}

.single-body__content p {
	margin-top: rem(24);
	font-size: rem(16);
	line-height: calc(24/16);
	font-weight: $regular;
	color: $black;
	font-family: "Noto Sans JP", sans-serif;

	@include mq("md") {
		margin-top: rem(40);
	}
}

.single-body__content img {
	margin-top: rem(24);
	aspect-ratio: 700/468;
	object-fit: cover;
	width: 100%;

	@include mq("md") {
		margin-top: rem(40);
	}
}

.single-body__content ul {
	margin-top: rem(24);
	font-size: rem(16);
	line-height: calc(24/16);
	font-weight: $regular;
	color: $black;
	font-family: "Noto Sans JP", sans-serif;

	@include mq("md") {
		margin-top: rem(40);
	}
}

.single-body__content li {
	position: relative;
	padding-left: rem(27);
}

.single-body__content li + li {
	margin-top: rem(4);
}

.single-body__content li::before {
	position: absolute;
	top: rem(3);
	left: rem(0);
	content: "";
	background-image: url(../images/common/icon-starfish-green.svg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	// flex-shrink: 0;
	height: rem(18);
	width: rem(18);
}

.single-body__pagination {
	margin-top: rem(40);

	@include mq("md") {
		margin-top: rem(80);
	}
}

.single-body__side {
	margin-top: rem(80);
	padding-right: rem(25);
	padding-left: rem(25);
	
	@include mq("md") {
		margin-top: 0;
		padding-right: 0;
		padding-left: 0;
		width: 27.2980%;
	}
}