@use 'global' as *;

.single-body {
	position: relative;
}

.single-body::before {
	content: "";
	position: absolute;
	width: rem(120);
	height: rem(55);
	top: -0.55%;
	left: calc(50% - min(46vw, rem(620)));
	background-image: url(../images/common/fish-green.svg);
	background-size: cover;
	// 要素の領域に画像全体が収まるように拡大縮小される
	transform: scaleX(-1);
	//x軸に反転
	z-index: -1;

	@include mq("md") {
		width: rem(301);
		height: rem(138);
		top: -3%;
		left: calc(50% - min(48vw, rem(620)));
	}
}

.single-body__inner {
	@include mq("md") {
		display: flex;
		gap: rem(86);
	}
}

.single-body__main {
	@include mq("md") {
		// width: 65.3703%;
		width: 64.99535%;
	}
}
