@use "global" as *;

.top-price {
  padding-top: rem(80);
  padding-bottom: rem(79);
  background-color: $green3;

  @include mq("md") {
    padding-top: rem(100);
    padding-bottom: rem(98);
  }
}

.top-price__inner {
  @include mq("md") {
    max-width: rem(1127);
  }
}

.top-price__container {
  position: relative;
  margin-top: rem(27);

  @include mq("md") {
    margin-top: rem(39);
    display: flex;
    gap: 8.635%;
  }
}

.top-price__container::before {
  @include mq("md") {
    content: "";
    position: absolute;
    width: rem(437);
    height: rem(201);
    bottom: -24%;
    left: calc(50% - min(48vw, rem(620)));
    	// left: calc(50% - 43vw);
    background-image: url(../images/common/fish-green.svg);
    background-size: cover;
    // 要素の領域に画像全体が収まるように拡大縮小される
  }
}

.top-price__image {
  aspect-ratio: 345/227;

  @include mq("md") {
    aspect-ratio: 492/746;
    order: 1;
    width: 50%;
  }
}

.top-price__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.top-price__lists {
  margin-top: rem(39);

  @include mq("md") {
    width: 50%;
    // margin-top: rem(4);
    margin-top: rem(0);
  }
}

.top-price__list + .top-price__list {
  margin-top: rem(40);
}

.top-price__button-wrap {
  margin-top: rem(38);
  text-align: center;

  @include mq("md") {
    margin-top: rem(78);
  }
}
